*{
  font-family: 'Prompt', sans-serif;
}
.table{
  width: 100%
}
.container{
  width: minmax(100vh 600px);
  border: 1px solid rgb(214, 214, 214);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
 
 
}
.head-box{
  background-color: rgb(214, 214, 214);
  padding: 1px;
  height: 30px;
  font-weight: bold;
}
.head-box p {
  margin-top: 4px;
  margin-left: 5px;
  
}
.editinput{
  display: flex;
  background-color: sienna;
}
input{
  width: 100%;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  
}
input:focus{
  box-shadow: 0px 0px 5px 3px rgb(143, 195, 255);
  
}
.btn-sub{
  background-color: rgb(0, 87, 185);
  border-radius: 5px;
  color:white;
  padding: 8px;
 
}
.btn-sub:hover{
  background-color: rgb(5, 121, 253);
}
.content{
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  
}
td{
  
  border-bottom: rgb(214, 214, 214) 1px solid ;
}
table p{
  font-weight: bold;
}
